<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pluf ACT Example</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="examplePlufActApp" ng-controller="MainCtrl">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

	<md-toolbar md-whiteframe="3">
		<div class="md-toolbar-tools">
          <span>Pluf ACT Example</span>
          <!-- fill up the space between left and right area -->
          <span flex></span>
			<md-button ng-click="runCommand()" md-whiteframe="1" >Run Command</md-button>
		</div>
	</md-toolbar>

	<md-content layout-padding dir="rtl" >
        <article ng-include="'views/act.html'" ></article>
        <md-divider></md-divider>
        {{ act }}
	 
    </md-content>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-pluf/dist/angular-pluf.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/runs/command.js"></script>
       <!-- endbuild -->
</body>
</html>
