<h2>تزریق:</h2>
<p>مرحله اول کار با تمام بخش های انگولار تزریق است<br>
ابتدا باید نام کتابخانه را تزریق یا Injext کنید<br>
سرویس $act نام سرویسی است که در این آموزش باید به سیستم تزریق شود<br>
برای مثال :<br>
<code>
angular.module('examplePlufActApp').controller('MainCtrl', function($scope, $act) {
</code>
<md-divider inset></md-divider>
</p>
<br>
 در این مدل دو مفهوم کلی تعریف می‌شود که عبارتند از دستور و دستگیره.<br>
  دستور یک عبارت رشته‌ای است که یک عمل مجازی را تعیین می‌کند و دستگیره عملی است که در مقابل هر دستور اجرا  می‌شود.
  <br>
   برای نمونه فرض کنید که یک دستور ورود به سیستم وجود دارد که نام آن به صورت زیر<br>
 تعیین شده است:<br>
<br>
 <b>user.login</b>
<br>
 فراخوانی این دستور منجر به اجرا شدن تمام دستگیره‌هایی مرتبط خواهد شد. تعریف این دستور و دستیگره‌های<br>
 آن در نمونه‌های زیر اورده شده است.<br>
<br>
 <h2>تعریف کامند</h2><br>
<pre>
 $act.command({<br>
 	id: 'user.login',<br>
 	label: 'login',<br>
 	icon: 'enter',<br>
 	tags: ['user', 'login']<br>
 });<br>
 ...<br>
 $act.handler({<br>
 	command: 'user.login',<br>
 	handle: function(credential){<br>
 		return $usr.login(credential);<br>
 	}<br>
 });<br>
<br>
</pre>
 <h2> اجرای دستور </h2>
 <p><br>
	$act.execute یک دستور را به صورت غیر همزمان اجرا می‌کند.
	<br>
	اجرای دستور معادل با این است که تمام دستگیره‌های ان به ترتیب اجرا شوند.
	<br>
	امکان ارسال پارامتر به تمام دستگیره‌ها وجود دارد.
	<br>
	برای این کار کافی است که پارامترهای اضافه را بعد از پارامتر دستور وارد کنید. 
	<br>
	مثال:<br>
	 </p>
<pre>
 $act.execute('user.login',{<br>
 	login: 'admin',<br>
 	password: 'admin'<br>
 });<br>
</pre>


<br>
برای اطلاع از نحوه صحیح عملکرد فایل زیر را ببینید<br>
<A href="scripts/controllers/main.js" target="new">Main.js</A>